*{
margin: 0;
padding: 0;
}






body{
    background-color: #ffe380;
}
.cabecalho{ 
    background-color: #e7c66b;
    display:flex;
    background-color: #ffd35b;
    align-items: center;
    justify-content: space-around;
    font-size: 30px;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 10%;
}

.lista-item {
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;

    }
