*{
margin: 0;
padding: 0;
}






body{
    background: rgb(236,227,203);
    background: linear-gradient(0deg, rgba(236,227,203,1) 0%, rgba(255,211,50,1) 35%);
    height: 100vh;
}
.cabecalho{ 
    background-color: #e7c66b;
    display:flex;
    background-color: #f5d753;
    align-items: center;
    justify-content: space-around;
    font-size: 30px;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 10%;
}

.lista-item {
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;

    }


    .secao1{
        display: flex;
        
        color: black;
        align-items: center; 
        justify-content: center 
    }

    
    .secao1-div{
        width: 35%
    }

    .secao2{
        background-color: f5d753;
    }

    .secao2-titulo{
        font-family: "Angkor", serif;
        font-weight: 400; 
        font-style: normal; 
    }
    .secao2{
        text-align: center;
        color: black;
    }
    .secao2-titulo{
        font-size: 40px;
    }